@charset "utf-8";
html,
body {
 background-color: #0c0c0cf7;
}

body {
  max-width:60em;
  margin: 1em auto;
}

#backlink img {
  width: 4em;
}


h1 {
	background-color: #00d4de;
	color: #253080;
	padding: 0.5em;
	font-family: sans-serif;
	border-radius: 0 0 0 0;
}

h2 {
	font-size: 2.6em;
	color: #253080;
	background-color: #00d4de;
	border: thin solid;
	font-family: cursive;
	text-align: center;
}

p, 
ul, ol,
table {
  font-size: 1.3em; 
  text-align: justify; 
  font-family: sans-serif; 
  color: #253080;
}

ul ul {
	font-size: 1em;
}

audio { 
font-size: 2.6em;
	color: #253080;
	background-color: #00d4de;
	border: thin solid;
	font-family: cursive;
	text-align: center;
}

vidio { 
font-size: 2.6em;
	color: #253080;
	background-color: #00d4de;
	border: thin solid;
	font-family: cursive;
	text-align: center;
}

code{
font-size: 2.6em;
	color: #253080;
	background-color: #00d4de;
	border: thin solid;
	font-family: cursive;
	text-align: center;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: block;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
}

a {
	display: block;
	background: #5ecea8;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}
a:hover {
	background: #00729D;
}
.btn-2 {
	background: #F98909;
}

.btn-2:hover {
	background: #DC6C11;
}
p {
	color: #888;
	padding: 15px;
} 